In [3]:
%pip install openpyxl

import openpyxl
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/vscode/.local/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/vscode/.local/lib/python3.11/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
projetos_por_municipios = pd.read_excel('Projetos por Munic√≠pios.xlsx', engine='openpyxl')
estudantes_por_projeto = pd.read_excel('Relat√≥rio M√∫sica na Rede1.xlsx', engine='openpyxl')

In [ ]:
projetos_por_municipios.head()

  TOTAL DE MUNIC√çPIOS  VIOL√ïES  CORAIS  BANDAS ORQUESTRA
0      Afonso Claudio  VIOL√ïES  CORAIS  BANDAS       NaN
1  √Ågua Doce do Norte      NaN     NaN     NaN       NaN
2        √Åguia Branca      NaN     NaN     NaN       NaN
3              Alegre  VIOL√ïES  CORAIS  BANDAS       NaN
4      Alfredo Chaves  VIOL√ïES     NaN     NaN       NaN

In [ ]:
def tratar_dados_musica_rede(df):
    # Renomear a primeira coluna
    df = df.rename(columns={'TOTAL DE MUNIC√çPIOS': 'MUNIC√çPIO'})
    
    # Lista dos projetos
    projetos = ['VIOL√ïES', 'CORAIS', 'BANDAS', 'ORQUESTRA']
    
    # Criar coluna indicadora dos projetos presentes
    def obter_projetos_presentes(row):
        projetos_presentes = []
        for projeto in projetos:
            if pd.notna(row[projeto]) and row[projeto] != '':
                projetos_presentes.append(projeto)
        return ', '.join(projetos_presentes) if projetos_presentes else 'NENHUM'
    
    df['PROJETOS_PRESENTES'] = df.apply(obter_projetos_presentes, axis=1)
    
    # Filtrar apenas munic√≠pios com pelo menos um projeto
    df_filtrado = df[df['PROJETOS_PRESENTES'] != 'NENHUM'].copy()
    
    # Resetar √≠ndice
    df_filtrado = df_filtrado.reset_index(drop=True)
    
    print(f"‚úÖ Dados tratados: {len(df_filtrado)} munic√≠pios com projetos")
        
    # SALVAR ANTES DE RETORNAR
    df_filtrado.to_excel('projetos_tratados.xlsx', index=False)
    print("üíæ Arquivo 'projetos_tratados.xlsx' salvo com sucesso!")
        
    return df_filtrado

# üöÄ EXECUTAR A FUN√á√ÉO

df_tratado = tratar_dados_musica_rede(projetos_por_municipios)

if df_tratado is not None:
    print("\nüìä Resumo:")
    print(f"Total de munic√≠pios com projetos: {len(df_tratado)}")
    print("\nPrimeiras linhas:")
    print(df_tratado[['MUNIC√çPIO', 'PROJETOS_PRESENTES']].head())
else:
    print("Falha ao processar os dados.")

‚úÖ Dados tratados: 50 munic√≠pios com projetos
üíæ Arquivo 'projetos_tratados.xlsx' salvo com sucesso!

üìä Resumo:
Total de munic√≠pios com projetos: 50

Primeiras linhas:
        MUNIC√çPIO       PROJETOS_PRESENTES
0  Afonso Claudio  VIOL√ïES, CORAIS, BANDAS
1          Alegre  VIOL√ïES, CORAIS, BANDAS
2  Alfredo Chaves                  VIOL√ïES
3   Alto Rio Novo                  VIOL√ïES
4        Anchieta                  VIOL√ïES

In [ ]:
# Lista dos projetos
projetos = ['VIOL√ïES', 'CORAIS', 'BANDAS', 'ORQUESTRA']

# Dicion√°rio para armazenar os dataframes de cada projeto
dfs_por_projeto = {}


for projeto in projetos:
   
    # Seleciona apenas os munic√≠pios que possuem o projeto atual
    df_projeto = df_tratado[df_tratado[projeto].notna() & (df_tratado[projeto] != '')].copy()
    # Mant√©m apenas as colunas relevantes
    df_projeto = df_projeto[['MUNIC√çPIO', projeto]].rename(columns={projeto: 'DETALHE_PROJETO'})
    dfs_por_projeto[projeto] = df_projeto

# Agora, por exemplo, dfs_por_projeto['VIOL√ïES'] cont√©m os munic√≠pios com apenas o projeto VIOL√ïES
# Para acessar os dataframes:
df_violao = dfs_por_projeto['VIOL√ïES']
df_corais = dfs_por_projeto['CORAIS']
df_bandas = dfs_por_projeto['BANDAS']
df_orquestra = dfs_por_projeto['ORQUESTRA']

# Exemplo de visualiza√ß√£o
df_violao.head()
df_corais.head()
df_bandas.head()
df_orquestra.head()

        MUNIC√çPIO DETALHE_PROJETO
0  Afonso Claudio         VIOL√ïES
1          Alegre         VIOL√ïES
2  Alfredo Chaves         VIOL√ïES
3   Alto Rio Novo         VIOL√ïES
4        Anchieta         VIOL√ïES

In [ ]:
display(df_violao)
display(df_corais)
display(df_bandas)
display(df_orquestra)

                  MUNIC√çPIO DETALHE_PROJETO
0            Afonso Claudio         VIOL√ïES
1                    Alegre         VIOL√ïES
2            Alfredo Chaves         VIOL√ïES
3             Alto Rio Novo         VIOL√ïES
4                  Anchieta         VIOL√ïES
6                   Aracruz         VIOL√ïES
7              Baixo Guandu         VIOL√ïES
9             Boa Esperan√ßa         VIOL√ïES
10  Cachoeiro de Itapemirim         VIOL√ïES
11                Cariacica         VIOL√ïES
13                 Colatina         VIOL√ïES
14   Divino de S√£o Louren√ßo         VIOL√ïES
15         Domingos Martins         VIOL√ïES
16       Dores do Rio Preto         VIOL√ïES
17               Ecoporanga         VIOL√ïES
19                Guarapari         VIOL√ïES
20                  Ibatiba         VIOL√ïES
22                Ibitirama         VIOL√ïES
23                   Iconha         VIOL√ïES
25               Itapemirim         VIOL√ïES
26                     I√∫na         VIOL√ïES
27         Laranja da Terra         VIOL√ïES
29             Manten√≥polis         VIOL√ïES
31            Mimoso do Sul         VIOL√ïES
33                    Muqui         VIOL√ïES
35                    Pi√∫ma         VIOL√ïES
36       Presidente Kennedy         VIOL√ïES
38    Santa Maria de Jetib√°         VIOL√ïES
39             Santa Teresa         VIOL√ïES
40    S√£o Domingos do Norte         VIOL√ïES
41     S√£o Gabriel da Palha         VIOL√ïES
43               S√£o Mateus         VIOL√ïES
44                    Serra         VIOL√ïES
46                    Viana         VIOL√ïES
47             Vila Val√©rio         VIOL√ïES
48               Vila Velha         VIOL√ïES
49                  Vitoria         VIOL√ïES

                  MUNIC√çPIO DETALHE_PROJETO
0            Afonso Claudio          CORAIS
1                    Alegre          CORAIS
5                    Apiac√°          CORAIS
8    Barra de S√£o Francisco          CORAIS
10  Cachoeiro de Itapemirim          CORAIS
11                Cariacica          CORAIS
13                 Colatina          CORAIS
19                Guarapari          CORAIS
24                    Irupi          CORAIS
28                 Linhares          CORAIS
30               Maril√¢ndia          CORAIS
34             Nova Ven√©cia          CORAIS
37         Santa Leopoldina          CORAIS
44                    Serra          CORAIS
46                    Viana          CORAIS
48               Vila Velha          CORAIS
49                  Vitoria          CORAIS

                  MUNIC√çPIO DETALHE_PROJETO
0            Afonso Claudio          BANDAS
1                    Alegre          BANDAS
6                   Aracruz          BANDAS
7              Baixo Guandu          BANDAS
10  Cachoeiro de Itapemirim          BANDAS
11                Cariacica          BANDAS
12                  Castelo          BANDAS
18                   Gua√ßu√≠          BANDAS
21                  Ibira√ßu          BANDAS
23                   Iconha          BANDAS
25               Itapemirim          BANDAS
28                 Linhares          BANDAS
29             Manten√≥polis          BANDAS
31            Mimoso do Sul          BANDAS
32             Muniz Freire          BANDAS
33                    Muqui          BANDAS
38    Santa Maria de Jetib√°          BANDAS
41     S√£o Gabriel da Palha          BANDAS
42      S√£o Jose do Calcado          BANDAS
43               S√£o Mateus          BANDAS
44                    Serra          BANDAS
45              Vargem Alta          BANDAS
48               Vila Velha          BANDAS
49                  Vitoria          BANDAS

                  MUNIC√çPIO DETALHE_PROJETO
10  Cachoeiro de Itapemirim       ORQUESTRA
11                Cariacica       ORQUESTRA
44                    Serra       ORQUESTRA
48               Vila Velha       ORQUESTRA
49                  Vitoria       ORQUESTRA

In [ ]:
df_violao.to_csv('df_violao.csv', index=False)
df_corais.to_csv('df_corais.csv', index=False)
df_bandas.to_csv('df_bandas.csv', index=False)
df_orquestra.to_csv('df_orquestra.csv', index=False)

In [ ]:
estudantes_por_projeto.head()

,Projeto,Alunos ativos 2023,Alunos atendidos 2023,Alunos ativos 2024,Alunos atendidos 2024,Alunos ativos 2025,Alunos atendidos 2025
0,Orquestras de Viol√µes nas Escolas,1863,3441,2694,3295,2129,2720
1,Corais nas Escolas,701,1158,853,1434,1070,1489
2,Bandas nas Escolas,1044,1282,972,1356,912,1289
3,Orquestra Jovem,307,476,280,501,440,464
4,Total,3915,6357,4799,6586,4551,5962

In [ ]:
# Renomear os projetos conforme solicitado
mapa_projetos = {
    'Orquestras de Viol√µes nas Escolas': 'VIOL√ïES',
    'Corais nas Escolas': 'CORAIS',
    'Bandas nas Escolas': 'BANDAS',
    'Orquestra Jovem': 'ORQUESTRA'
}

estudantes_por_projeto['Projeto'] = estudantes_por_projeto['Projeto'].replace(mapa_projetos)

# Selecionar apenas as colunas de interesse
colunas_anos = ['Projeto', 'Alunos atendidos 2023', 'Alunos atendidos 2024', 'Alunos atendidos 2025']

# Gerar um dataframe para cada projeto
df_violao_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'VIOL√ïES'][colunas_anos].reset_index(drop=True)
df_corais_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'CORAIS'][colunas_anos].reset_index(drop=True)
df_bandas_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'BANDAS'][colunas_anos].reset_index(drop=True)
df_orquestra_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'ORQUESTRA'][colunas_anos].reset_index(drop=True)

display(df_violao_estudantes)
display(df_corais_estudantes)
display(df_bandas_estudantes)
display(df_orquestra_estudantes)

,Projeto,Alunos atendidos 2023,Alunos atendidos 2024,Alunos atendidos 2025
0,VIOL√ïES,3441,3295,2720

  Projeto  Alunos atendidos 2023  Alunos atendidos 2024  Alunos atendidos 2025
0  CORAIS                   1158                   1434                   1489

  Projeto  Alunos atendidos 2023  Alunos atendidos 2024  Alunos atendidos 2025
0  BANDAS                   1282                   1356                   1289

,Projeto,Alunos atendidos 2023,Alunos atendidos 2024,Alunos atendidos 2025
0,ORQUESTRA,476,501,464

In [ ]:
df_violao_estudantes.to_csv('df_violao_estudantes.csv', index=False)
df_corais_estudantes.to_csv('df_corais_estudantes.csv', index=False)
df_bandas_estudantes.to_csv('df_bandas_estudantes.csv', index=False)
df_orquestra_estudantes.to_csv('df_orquestra_estudantes.csv', index=False)

In [9]:
import subprocess
import sys

def install_package(package):
    subprocess.check_call([sys.executable, "-m", "pip", "install", package])

try:
    import geopandas
except ImportError:
    print("Instalando geopandas...")
    install_package("geopandas")
    import geopandas

try:
    import folium
except ImportError:
    print("Instalando folium...")
    install_package("folium")
    import folium

Instalando geopandas...
Defaulting to user installation because normal site-packages is not writeable
Collecting geopandas
  Using cached geopandas-1.1.1-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: numpy>=1.24 in /home/vscode/.local/lib/python3.11/site-packages (from geopandas) (2.3.3)
Collecting pyogrio>=0.7.2 (from geopandas)
  Using cached pyogrio-0.11.1-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (5.3 kB)
Requirement already satisfied: packaging in /home/vscode/.local/lib/python3.11/site-packages (from geopandas) (25.0)
Requirement already satisfied: pandas>=2.0.0 in /home/vscode/.local/lib/python3.11/site-packages (from geopandas) (2.3.3)
Collecting pyproj>=3.5.0 (from geopandas)
  Using cached pyproj-3.7.2-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (31 kB)
Collecting shapely>=2.0.0 (from geopandas)
  Using cached shapely-2.1.2-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (6.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.11/site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.11/site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.11/site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: certifi in /home/vscode/.local/lib/python3.11/site-packages (from pyogrio>=0.7.2->geopandas) (2025.10.5)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)
Using cached geopandas-1.1.1-py3-none-any.whl (338 kB)
Using cached pyogrio-0.11.1-cp311-cp311-manylinux_2_28_x86_64.whl (27.7 MB)
Using cached pyproj-3.7.2-cp311-cp311-manylinux_2_28_x86_64.whl (9.5 MB)
Using cached shapely-2.1.2-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.1 MB)
Installing collected packages: shapely, pyproj, pyogrio, geopandas
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 4/4 [geopandas]/4 [geopandas]
Successfully installed geopandas-1.1.1 pyogrio-0.11.1 pyproj-3.7.2 shapely-2.1.2
Instalando folium...
Defaulting to user installation because normal site-packages is not writeable
Collecting folium
  Using cached folium-0.20.0-py2.py3-none-any.whl.metadata (4.2 kB)
Collecting branca>=0.6.0 (from folium)
  Using cached branca-0.8.2-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: jinja2>=2.9 in /home/vscode/.local/lib/python3.11/site-packages (from folium) (3.1.6)
Requirement already satisfied: numpy in /home/vscode/.local/lib/python3.11/site-packages (from folium) (2.3.3)
Requirement already satisfied: requests in /home/vscode/.local/lib/python3.11/site-packages (from folium) (2.32.5)
Collecting xyzservices (from folium)
  Using cached xyzservices-2025.4.0-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /home/vscode/.local/lib/python3.11/site-packages (from jinja2>=2.9->folium) (3.0.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/vscode/.local/lib/python3.11/site-packages (from requests->folium) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /home/vscode/.local/lib/python3.11/site-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/vscode/.local/lib/python3.11/site-packages (from requests->folium) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/vscode/.local/lib/python3.11/site-packages (from requests->folium) (2025.10.5)
Using cached folium-0.20.0-py2.py3-none-any.whl (113 kB)
Using cached branca-0.8.2-py3-none-any.whl (26 kB)
Using cached xyzservices-2025.4.0-py3-none-any.whl (90 kB)
Installing collected packages: xyzservices, branca, folium
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3/3 [folium]
Successfully installed branca-0.8.2 folium-0.20.0 xyzservices-2025.4.0

In [10]:
import geopandas as gpd

# Carregar o arquivo shapefile
gdf_municipios = gpd.read_file('ES_Municipios_2024.shp')

# Visualizar nomes das colunas
print("Colunas dispon√≠veis:", gdf_municipios.columns.tolist())

# Visualizar as primeiras linhas dos dados
gdf_municipios.head()

Colunas dispon√≠veis: ['CD_MUN', 'NM_MUN', 'CD_RGI', 'NM_RGI', 'CD_RGINT', 'NM_RGINT', 'CD_UF', 'NM_UF', 'SIGLA_UF', 'CD_REGIA', 'NM_REGIA', 'SIGLA_RG', 'CD_CONCU', 'NM_CONCU', 'AREA_KM2', 'geometry']

,CD_MUN,NM_MUN,CD_RGI,NM_RGI,CD_RGINT,NM_RGINT,CD_UF,NM_UF,SIGLA_UF,CD_REGIA,NM_REGIA,SIGLA_RG,CD_CONCU,NM_CONCU,AREA_KM2,geometry
0,3200409,Anchieta,320001,Vit√≥ria,3201,Vit√≥ria,32,Esp√≠rito Santo,ES,3,Sudeste,SE,None,None,409.691,"MULTIPOLYGON (((-40.68438 -20.82728, -40.68428..."
1,3203502,Montanha,320003,S√£o Mateus,3202,S√£o Mateus,32,Esp√≠rito Santo,ES,3,Sudeste,SE,None,None,1099.060,"POLYGON ((-40.34393 -18.28299, -40.34397 -18.2..."
2,3202207,Fund√£o,320001,Vit√≥ria,3201,Vit√≥ria,32,Esp√≠rito Santo,ES,3,Sudeste,SE,3205309,Vit√≥ria/ES,286.854,"POLYGON ((-40.19506 -20.03569, -40.19545 -20.0..."
3,3202256,Governador Lindenberg,320005,Colatina,3203,Colatina,32,Esp√≠rito Santo,ES,3,Sudeste,SE,None,None,360.016,"POLYGON ((-40.49596 -19.11354, -40.49529 -19.1..."
4,3204807,S√£o Jos√© do Cal√ßado,320008,Alegre,3204,Cachoeiro do Itapemirim,32,Esp√≠rito Santo,ES,3,Sudeste,SE,None,None,273.489,"POLYGON ((-41.62823 -20.86183, -41.62814 -20.8..."